<div class="container site-section">
  <div class="row justify-content-center text-center mb-5">
    <div class="col-md-12">
      <h2 class="mb-4">By this form you can create your dynamic page</h2>
      <grid-view [columns]="columns"
                 [data]="links"
                 [gridbtns]="gridbtns"
                 (btnclick)="gridaction($event)">
      </grid-view>
    </div>
  </div>
</div>
