<div class="container site-section">
  <div class="row justify-content-center mb-5">
    <div class="col-md-12">
      <h2 class="mb-4 text-center ">By this form you can create your dynamic page</h2>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <div class="col-md-6 mb-4 mb-lg-0">
            <input type="text" formControlName="name" class="form-control" placeholder="Page Name" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.name.errors }">
            <div *ngIf="submitted && registerForm.controls.name.errors" class="text-danger">
              <div *ngIf="registerForm.controls.name.errors.required">Name is required</div>
            </div>
          </div>
          <div class="col-md-6">
            <input type="text" formControlName="displayName" name="displayName" class="form-control" placeholder="display Name" [ngClass]="{ 'is-invalid': submitted && registerForm.controls.displayName.errors }">
            <div *ngIf="submitted && registerForm.controls.displayName.errors" class="text-danger">
              <div *ngIf="registerForm.controls.displayName.errors.required">Display Name is required</div>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12">
            <ckeditor name="content" [editor]="Editor" formControlName="content"></ckeditor>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-md-12 mr-auto">
            <button class="btn btn-block btn-primary text-white py-3 px-5">Save Page</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<!--(click)="onSavePage()"-->
