<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>
<header class="site-navbar site-navbar-target" role="banner">
  <div class="container">
    <div class="row align-items-center position-relative">
      <div class="col-lg-4 text-center">
        <div class="site-logo">
          <a [routerLink]='["/"]' href="index.html">Omid Rajabalian</a>
        </div>
        <div class="ml-auto toggle-button d-inline-block d-lg-none"><a href="#" class="site-menu-toggle py-5 js-menu-toggle text-white"><span class="icon-menu h3 text-white"></span></a></div>
      </div>
      <div class="col-lg-8">
        <nav class="site-navigation text-right ml-auto " role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
            <li class="active"><a [routerLink]='["/"]' class="nav-link">Home</a></li>
            <li><a [routerLink]='["/work-experience"]' class="nav-link">Work Experience</a></li>
            <li><a [routerLink]='["/education"]' class="nav-link">Education</a></li>
            <li *ngFor="let link of Links">
              <a routerLink="/page/{{link.name}}" class="nav-link">
                {{link.seoName}}
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <!--<div class="col-lg-4">
        <nav class="site-navigation text-left mr-auto " role="navigation">
          <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
            <li><a [routerLink]='["/about-me"]' class="nav-link">About</a></li>
            <li><a [routerLink]='["/blog"]' class="nav-link">Blog</a></li>
            <li><a [routerLink]='["/contact"]' class="nav-link">Contact</a></li>
          </ul>
        </nav>
      </div>-->

    </div>
  </div>
</header>
