<div>
  <table class="table table-hover table-striped table-sortable">
    <thead>
      <tr>
        <th *ngFor="let column of columns">
          {{column.display}}
        </th>
        <ng-container *ngFor="let btn of gridbtns">
          <td *ngIf="!btn.ishide"></td>
        </ng-container>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let row of data">
        <td *ngFor="let column of columns">
          {{row[column.variable]}}
        </td>
        <ng-container *ngFor="let btn of gridbtns">
          <td *ngIf="!btn.ishide">
            <button type="button" class="btn btn-primary" (click)="click(btn,row)">{{btn.title}}</button>
          </td>
        </ng-container>
      </tr>
    </tbody>
  </table>
</div>
